.grid {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 0;
}

.cell, .colorCell{
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: black;
}

.colorCell{
    color: red;
}

 .empty_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}